.floating-container {
    display: flex;
}

.floating {
    margin: 10px;
    padding: 10px;
    width: 50%;
}

@media screen and (max-width: 1070px) {
    .floating-container {
        display: block;
    }

    .floating {
        width: 95%;
    }
}