#som-input {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    padding-left: 40px;
    text-transform: uppercase;
}

label {
    margin-right: 10px;
}

.som {
    width: 300px;
}

.incorrect {
    border: 1px #ff0000 solid !important;
    background-color: #f0d6d6 !important;
}

.vragen {
    padding-bottom: 10px;
    border-bottom: 2px lightgrey solid;
}