#som-input {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    padding-left: 40px;
    text-transform: uppercase;
}

label {
    margin-right: 10px;
}

input[type="text"] {
    padding: 5px;
    background-color: #f5f5f5;
    border: 1px #9a9a9a solid;
    border-radius: 10px;
    width: 200px;
    float: right;
}

input[type="submit"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #bbbbbb;
    color: #606060;
    width: 100px;
    margin-top: 20px;
}

.som {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 300px;
    display: block;
}

.incorrect {
    border: 1px #ff0000 solid !important;
    background-color: #f0d6d6 !important;
}

.vragen {
    padding-bottom: 10px;
    border-bottom: 2px lightgrey solid;
}