body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #303030;
}

#site-content {
    margin-top: 120px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    text-align: justify;
}

h2 {
    padding: 5px;
    padding-left: 15px;
    border-bottom: 1px #9e9e9e solid;
}

a {
    text-decoration: none;
    color: #5a8558;
}

a:visited {
    text-decoration: none;
    color: #778a55;
}

section {
    padding: 5px;
    margin: 20px;
}

ul {
    list-style-type: square;
    list-style-position: inside;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 5px;
    background-color: #f5f5f5;
    border: 1px #9a9a9a solid;
    border-radius: 10px;
    width: 200px;
    float: right;
}

input[type="submit"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #bbbbbb;
    color: #606060;
    width: 100px;
    margin-top: 20px;
}

::selection {
    background-color: #09ff002d;
}